[submodule "research/exploratory/imports/openai-prime-gaps-2026-09-02/PrimeGaps186"]
	path = research/exploratory/imports/openai-prime-gaps-2026-09-02/PrimeGaps186
	url = https://github.com/openai/PrimeGaps186.git
[submodule "research/exploratory/imports/openai-prime-gaps-2026-09-02/LongGapsBetweenPrimes"]
	path = research/exploratory/imports/openai-prime-gaps-2026-09-02/LongGapsBetweenPrimes
	url = https://github.com/openai/LongGapsBetweenPrimes.git
